<h1><%- title %></h1>
<% if (typeof messages === "function") { %><%- messages() %><% } %>
<% if (errors) { %>
    <ul class="notice">
   <% errors.array().forEach(error => { %>
     <li><%= error.msg %></li>
  <%  }) %>
   </ul>
  <% } %>

<form class="input-box" action="/account/register" method="post">
    <label for="account_firstname">First name</label>
    <input type="text" id="account_firstname" name="account_firstname" required autocomplete="given-name" value="<%= locals.account_firstname %>">
    
    <label for="account_lastname">Last name</label>
    <input type="text" id="account_lastname" name="account_lastname" required autocomplete="family-name" value="<%= locals.account_lastname %>">
    
    <label for="account_email">Email address</label>
    <input type="email" id="account_email" name="account_email" required autocomplete="email" value="<%= locals.account_email %>">
    
    <label for="password">Password</label>
    <p class="fine-print">Password must be at least 12 characters and contain at least 1 number, 1 capital letter and 1 special character</p>
    <input type="password" id="password" name="account_password" required autocomplete="new-password" pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9])(?!.*\s).{12,}$">
    <button type="button" id="passwordHide" class="reveal-button active" aria-pressed="true" aria-label="Show password">Show</button>
    
    <input type="submit" value="REGISTER">
</form>
<!-- Script to handle hiding and revealing password field -->
<script>
    const passwordInput = document.querySelector("#password");
    const passwordHide = document.querySelector("#passwordHide");
    passwordHide.addEventListener("click", () => {
        if(passwordInput.getAttribute("type") == "password" ) {
            passwordInput.setAttribute("type", "text");
            passwordHide.classList.remove("active");
            passwordHide.setAttribute("aria-pressed", "false");
            passwordHide.textContent = "Hide";
        }
        else {
            passwordInput.setAttribute("type", "password");
            passwordHide.classList.add("active");
            passwordHide.setAttribute("aria-pressed", "true");
            passwordHide.textContent = "Show";
        }
    })
</script>